/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Lato');
*{
    margin: 0;
    padding: 0;
}
ul, li{
    list-style: none;
}
.hover-block > h1,
.hover-block > h2,
.hover-block > h3,
.hover-block > h4,
.hover-block > h5,
.hover-block > h6 {
    text-align: center;
}


.auto-margin{
    margin: auto;
}


.navigation{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}
.navigation li{

    position: relative;

}
.navigation li:first-child {
    margin-right: auto;
}
.navigation ul{
    visibility: hidden;
    position: absolute;

    padding: 0;
}

.navigation li:hover > ul{
    visibility: visible;
    left: 0;
}

.hover-block{
    display: inline-block;


}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}
.hover-content{
    max-height: 0;
    overflow: hidden;
    transition: 1000ms;
    display: inline-block;
    border: 1px solid white;
}

h1:hover + .hover-content,
h2:hover + .hover-content,
h3:hover + .hover-content,
h4:hover + .hover-content,
h5:hover + .hover-content,
h6:hover + .hover-content,
.hover-content:hover{
    max-height: 999px;
    transition: 500ms ease-in;
}
body{
    color: white;
    background: #0e83cd;
    font-family: Lato, serif;
}
a{
    text-decoration: none;
    color: white;
    display: inline-block;
    background-color: #4495de;
    margin: 4px;
    padding: 2px;
    transition: 400ms;
}
a:hover{
    transform: scale(1.02);
    transition: 400ms;
}


